<%# <html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="">
	<script src="http://cdn.foundation5.zurb.com/foundation.css"></script>



	<style type="text/css">
		/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
		@import url(https://fonts.googleapis.com/css?family=Raleway:300);
		body {
			font-family: 'Raleway', sans-serif;
		}
		ul {
			list-style-type: none;
		}
		.header-text {
			background-color: #ecf0f1;
		}
	</style>
</head>
<body>
	<div class="row header-text">
		<div class="small-16 large-16 large-centered   columns">
			<h1 class="text-center">Fairthreads</h1>
			<h2 class="text-center">Ethical practices. Quality products. Killer fashion.</h2>
			<h3 class="text-center">At fairthreads, we believe our ethics shouldn’t be compromised for great style. We showcase products from fashion brands that uphold strong ethical manufacturing standards. No sweatshop labor. No unfair wages.</h3>
		</div>
	</div>

	<ul class="small-block-grid-3">
		<li>
			<h4>Ethical Practices</h4>
			<p>At fairthreads, we believe our ethics shouldn’t be compromised for great style. We showcase products from fashion brands that uphold strong ethical manufacturing standards. No sweatshop labor. No unfair wages.</p>
		</li>
		<li>
			<h4>Quality Products</h4>
			<p>Quality products are essential for having long-lasting wardrobe. Our brands strive to have the best quality possible. This doesn’t only speak to the garment's construction, but also the fabric itself. Many of our brands pride themselves on using only organic, non-toxic, recycled, or upcycled materials.</p>
		</li>
		<li>
			<h4>Killer Fashion</h4>
			<p>Great fashion is at the core of our identity. We offer fashion-forward styles from cutting-edge brands that are changing the industry. You don’t even need to think twice about shopping ethically, we make it second nature.</p>
		</li>

	</ul>
</body>
</html>%>
