<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FairtThreads Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="/styles/products.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-container">
      <nav class="main-nav">
        <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Styles</a></li>
        </ul>
        <div class="">
          <span>1001</span>
        </div>
      </nav>

      <div class="select-active">
        <p>Select products for Womens Tops</p><i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </div>

      <div class="main-area-container">
        <div class="assign-product-container">
          <nav style="border: 1px solid purple;">
            <div class="save">
              Save changes
            </div>
            <h3>Assign</h3>
            <ul class="assign-list">
              <li class="assign">womens-clothes</li>
              <li class="assign">men</li>
            </ul>
            <h3>Filter</h3>
            <ul class="filter-list">
              <li class="no-filter">All Clothes</li>
              <li class="filter-women">Women</li>
              <li class="filter-men">Men</li>
            </ul>
          </nav>
          <div class="products-container" style="border: 1px solid black;">
          </div>
        </div>

    </div>

    <script id="product-template" type="text/x-handlebars-template">
      {{#each product}}
      {{#equal this.gender "womens-clothes"}}
      <div class="product womens">
      {{else}}
      <div class="product mens">
      {{/equal}}
        <img class="product-image" src={{this.imageOriginal}} />
        <p>{{this.name}}</p>
        <p>{{this.fairThreadsCategory}}</p>
        <p class="product-id">{{this._id}}</p>
      </div>
      {{/each}}
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        var womensCategories;
        var mensCategories;
        var allProducts;
        var genderToAssign;
        var changes = {};

        // Assigning gender
        $('.assign-product-container nav ul li').on('click', function() {
          $(this).toggleClass('active')
          $(this).siblings().removeClass('active')
        })

        $('.assign').on('click', function() {
          changes = {};
          genderToAssign === $(this).html().toLowerCase() ? genderToAssign = null : genderToAssign = $(this).html();
        })

        // Filtering
        $('.no-filter').on('click', function() {
          populateProducts({product: allProducts});
        })

        $('.filter-women').on('click', function() {
          var womensClothes = allProducts.filter(function(product) {
            return product ? product.gender === 'womens-clothes' : null
          })
          populateProducts({product: womensClothes});
        })

        $('.filter-men').on('click', function() {
          var mensClothes = allProducts.filter(function(product) {
            return product ? product.gender === 'men' : null
          })
          populateProducts({product: mensClothes});
        })

        // Handlebars Templating
        var source = $("#product-template").html();

        Handlebars.registerHelper('equal', function(lvalue, rvalue, options) {
          if (arguments.length < 3)
              throw new Error("Handlebars Helper equal needs 2 parameters");
          if( lvalue!=rvalue ) {
              return options.inverse(this);
          } else {
              return options.fn(this);
          }
        });

        // Get request for products
        $.ajax({
          type: 'get',
          url: '/admin/product-lists',
          dataType: 'JSON',
        }).done(function(data) {
          womensCategories = data.womensCategories;
          mensCategories = data.mensCategories;
          allProducts = data.allProducts;
          populateProducts({product: allProducts})
        }).fail(function(err) {
          console.log('Error: ', err)
        })

        // Put request for saving changes
        $('.save').on('click', function() {
          console.log(changes)
          changes = JSON.stringify(changes);
          $.ajax({
            type: 'put',
            url: '/admin/product-lists',
            dataType: 'json',
            data: {data: changes}
          }).done(function(data) {
            setTimeout(function(){// wait for 5 secs(2)
              location.reload(); // then reload the page.(3)
            }, 1000);
          }).fail(function(err) {
            console.log(err)
            setTimeout(function(){// wait for 5 secs(2)
              location.reload(); // then reload the page.(3)
            }, 1000);
          })
        })


        // Populate products to the view
        var populateProducts = function(products) {
          $('.products-container').empty()
          var template = Handlebars.compile(source);
          var data = products;
          var html = template(data);
          $('.products-container').append(html)
          $('.product').on('click', function() {
            if(genderToAssign) {
              $(this).toggleClass('active');
              $(this).siblings().removeClass('active')
              if($(this).hasClass('active')) {
                changes[$(this).find('.product-id').html()] = genderToAssign
              } else {
                delete changes[$(this).find('.product-id').html()]
              }
            }
          })
        }
      })


    </script>
  </body>
</html>
