<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FairtThreads Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/styles/products.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-container">
      <nav class="main-nav">
        <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Styles</a></li>
        </ul>
        <div class="">
          <span>1001</span>
        </div>
      </nav>

      <div class="select-active">
        <p>Select products for Womens Tops</p><i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </div>

      <div class="main-area-container">
        <nav class="" style="border: 1px solid purple;">
          <ul>
            <li>Sort</li>
            <li>Assign</li>
          </ul>
        </nav>
        <div class="products-container" style="border: 1px solid green;">
          <p>
            I'm a product
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
