<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FairtThreads Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="/js/products.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/styles/pace.css" rel="stylesheet" type="text/css">
    <link href="/styles/products.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-container">
      <nav class="main-nav">
        <div class="nav-container">
          <div>
            Products
          </div>
          <div class="dropdown">
            <div style="padding: 8px 0px;">Womens</div>
            <div class="filter-women dropdown-content">
              <div>All clothes</div>
              <div class="stylistPick">stylistPick</div>
              <div class="tops">Tops</div>
              <div class="bottoms">Bottoms</div>
              <div class="dresses">Dresses</div>
              <div class="athleisure">Athleisure</div>
              <div class="shoes">Shoes</div>
              <div class="accessories">Accessories</div>
            </div>
          </div>
          <div class="dropdown">
            <div style="padding: 8px 0px;">Mens</div>
            <div class="filter-men dropdown-content">
              <div class="">All clothes</div>
              <div class="tops">Tops</div>
              <div class="bottoms">Bottoms</div>
              <div class="athleisure">Athleisure</div>
              <div class="shoes">Shoes</div>
              <div class="accessories">Accessories</div>
            </div>
          </div>
          <div>
            <div class="active-filter">Active</div>
          </div>
        </div>
      </nav>

      <div class="help">
        <p>
          First, select a category to assign a product to using the left nav.
        </p>
      </div>

      <div class="main-area-container">
        <h3 class="category-title"></h3>
        <div class="products-container">
        </div>
      </div>
    </div>

    <script id="product-template" type="text/x-handlebars-template">
      {{#each product}}
      {{#equal this.gender "womens-clothes"}}
      <div id="{{this._id}}" class="product womens">
      {{else}}
      <div id="{{this._id}}" class="product mens">
      {{/equal}}
        <div class="tool-bar">
          <i class="fa fa-pencil-square-o toggle-edit-more-detail" aria-hidden="true"></i>
          {{#if this.salePrice}}
            <p>On Sale for ${{this.salePrice}}</p>
          {{/if}}
          <i class="fa fa-times-circle-o delete" aria-hidden="true"></i>
        </div>
        <img class="product-image" src={{this.imageOriginal}} />
        <div class="product-details-container">
          <p>${{this.price}}</p>
          <p>{{this.brand}}</p>
          <div class="edit-product-details">
            <input type="text" value="{{this.name}}" class="edit-name">
            <div class="edit-category-container dropdown">
              <p class="current-category" style="text-transform: capitalize;">{{this.fairThreadsCategory}}</p>
              <div class="dropdown-content">
                <hr />
                {{#each this.categories}}
                  <p class="{{this}} category-option" style="text-transform: capitalize;">{{this}}</p>
                {{/each}}
              </div>
            </div>
            <div class="edit-activation btn-style {{isActive this.active true}}">
              <p>Activate</p>
            </div>
            <div class="stylistPick-activation btn-style {{isActive this.stylistPick true}} ">
            {{this.stylistPick}}
              Stylist Picks
            </div>
            <div class="edit-more-detail">
              <div class="edit-gender">
                <div class="men {{isActive this.gender 'men'}}">
                  Male
                </div>
                <div class="womens-clothes {{isActive this.gender 'womens-clothes'}}">
                  Female
                </div>
              </div>
              <div class="edit-fit">
                <div class="contain {{isActive this.objectFit 'contain'}}">
                  Contain
                </div>
                <div class="cover {{isActive this.objectFit 'cover'}}">
                  Cover
                </div>
              </div>
            </div>
          </div>
          <div class="edit-actions">
            <div class="edit-cancel">
              Cancel
            </div>
            <div class="edit-save">
              Save
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </script>
    
  </body>
</html>
