body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  padding: 0;
}

.page-container {
  border: 1px solid red;
  min-width: 960px;
}

nav.main-nav {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.main-nav ul {
  padding: 0;
}

nav.main-nav li {
  display: inline;
  margin: 0px 20px;
}

nav.main-nav li a {
  text-decoration: none;
  color: white;
}

nav.main-nav span {
  color: #D3D3D3;
  font-size: 20px;
  padding-right: 30px;
}

.select-active {
  background-color: #D3D3D3;
  text-align: center;
  padding: 15px;
}

.select-active p {
  margin: 0;
  display: inline;
}

.select-active i {
  padding-left: 15px;
  cursor: pointer;
}

.main-area-container {
  border: 1px solid blue;
  padding: 0 30px;
}

.main-area-container > nav {
  padding: 20px 0;
}

.assign-product-container {
  display: flex;
}

.assign-product-container nav {
  width: 250px;
}

.assign-product-container nav ul {
  margin: 10px 0 20px 0;
}

.assign-product-container nav ul li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

.assign-product-container nav ul li.active {
  text-decoration: underline;
}

.assign-product-container nav h3 {
  margin: 20px 0 5px 0;
}

.products-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  overflow: scroll;
}

.product {
  width: 200px;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.product.womens {
  border: 2px solid pink;
}

.product.mens {
  border: 2px solid #8a8adf;
}

.product.active {
  border: 2px solid #dfc850;
}

.product-image {
  width: 200px;
  height: 250px;
  object-fit: contain;
}
